<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Login to skphoto.ca: <%= link_to @user.login_link, @user.login_link %></p>
  </body>
</html>